header {
    border-radius: 25px;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;         /* Centra verticalmente el contenido */
    overflow: hidden;            /* Evita que el contenido rebose */
    max-width: 100vw;            /* Opcional: asegura que no se pase del ancho de la ventana */
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header img {
    height: 75px;
    max-height: 70px;            /* Limita el ancho máximo de la imagen */
    width: auto;
    background-color: white;
    border-radius: 25px;
    object-fit: contain;         /* Asegura que la imagen se ajuste sin deformarse */
    display: block;
    margin-left: 5px;
}

header h1 {
    white-space: nowrap;
    padding-right: 10px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    border-radius: 25px;
    background-color: #313131;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 24px;
}